{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "serviceworker": true
  },
  "rules": {
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
